<%= render 'shared/topbar' %>

<!-- ========== Sub Navigation ====== -->
<!-- Breadcrumb Section -->
<div class="bg-primary">

  <div class="container space-top-1">
          <!-- Breadcrumb -->
      <ul class="step-progressbar">
        <li class="step-progressbar__item step-progressbar__item--complete">Step 1</li>
        <li class="step-progressbar__item step-progressbar__item--active">Step 2</li>
        <li class="step-progressbar__item">Step 3</li>
      </ul>
  </div>
</div>


<div class="row no-gutters my-auto">
          <div class="col-md-8 col-lg-7 col-xl-6 offset-md-2 offset-lg-2 offset-xl-3 space-3 space-lg-0" >
            <!-- Form -->
            <div class="js-validate mt-5">
              <!-- Title -->
              <div class="mt-7">
                <h6 class="h3 text-primary font-weight-normal mb-0">You are one step away to invest in <span class="font-weight-semi-bold"><%=@campaign.title%></span></h6>
                <p><span class="font-weight-semi-bold"><%=@campaign.artist%></span>, <%=@campaign.year%></p>
                <h7> Please, select the amount you want to invest<h7>
              <!-- End Title -->
                <!-- Range Slider -->
                <span id="test" data-price="<%= @campaign.price %>" data-min="<%= @campaign.minimum_investment%>">
                  <input class="js-range-slider" type="text"
                         data-extra-classes="u-range-slider u-range-slider-indicator u-range-slider-grid"
                         data-grid="false"
                         data-hide-from-to="false"
                         data-min="<%=@campaign.minimum_investment %>"
                         data-max="<%=@campaign.price - (@campaign.price * @campaign.funding_status / 100)%>"
                         data-step="<%=@campaign.minimum_investment%>"
                         data-result-min="#rangeSliderExample2MinResult">
                </span>

                  <div class="d-flex justify-content-between align-items-center">
                    <span class="text-muted"></span>
                    <div class="js-focus-state">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <span class="fas fa-dollar-sign"></span>
                          </span>
                        </div>
                        <input type="text" class="form-control max-width-11" id="rangeSliderExample2MinResult">
                      </div>
                    </div>
                  </div>
                  <!-- End Range Slider -->
                  <!-- Form -->
                  <div>
                  <!-- Form Inputs & Actions -->
                  <%= simple_form_for [@campaign, @investment], :url => campaign_investments_path, remote:true, :method => :post do |f| %>
                    <%= f.error_notification %>
                    <div class="form-inputs">
                      <%= f.input :amount,
                                  :input_html => { :value => @campaign.minimum_investment},
                                  as: :hidden
                                  %>
                    </div>

                    <div class="form-actions dl-flex">
                      <%= f.button :submit,
                                   "Confirm amount",
                                   id: "button-form",
                                   class: "btn btn-primary transition-3d-hover"%>

                    </div>
                  <% end %>
                  <!-- End Form Inputs & Actions-->
                </div>
                <!-- End Form -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Form -->

      <!-- Modal Window Trigger -->
<a id="button-modal" class="btn btn-sm btn-primary transition-3d-hover invisible" href="#shoppingCartWithItemsModal"
   data-modal-target="#shoppingCartWithItemsModal">
  Open Shopping Cart with Items Modal
</a>
<!-- End Modal Window Trigger -->

<!-- Shopping Cart Modal Window -->
<div id="shoppingCartWithItemsModal" class="js-modal-window u-modal-window" style="width: 370px;">
  <div class="card">
    <!-- Header -->
    <header class="card-header bg-light py-3 px-5">
      <div class="d-flex justify-content-between align-items-center">
        <h3 class="h6 mb-0">Your Avant/Garde investment</h3>

        <button type="button" class="close" aria-label="Close" onclick="Custombox.modal.close();">
          <span aria-hidden="true">×</span>
        </button>
      </div>
    </header>
    <!-- End Header -->

    <!-- Body -->
    <div class="card-body p-5">
      <div class="media">
        <div class="u-avatar mr-10 mb-6">
          <%= cl_image_tag @campaign.images.first.photo, height: 100, width: 100, crop: :crop %>
        </div>
        <div class="media-body">
          <div class="d-flex justify-content-between align-items-center">
            <span class="d-block font-weight-semi-bold"><%=@campaign.artist%></span>
          </div>
          <span class="d-block font-size-1"><%=@campaign.title%></span>
          <span class="d-block text-primary font-weight-semi-bold">Value : <%=@campaign.price%>$</span>
          <small class="d-block text-muted"></small>
        </div>
      </div>
    </div>
    <!-- End Body -->

    <!-- Footer -->
    <div class="card-footer text-center p-5">
      <div class="mb-3">
        <span class="d-block font-weight-bold">Your investment</span>
        <span id="invested_amount_conf" class="d-block "></span>
        <span id="invested_share_conf" class="d-block"></span>
        <span class="d-block"></span>
      </div>
      <div class="mb-2">
        <%= link_to "Go to payment", orders_path(campaign: params['campaign_id']), method: :post, remote: true, class: "btn btn-sm btn-soft-primary transition-3d-hover" %>
      </div>
      <p class="small mb-0"><a class="link-muted" href="javascript:;">Invest the Monet and Let's Gogh</a></p>
    </div>
    <!-- End Footer -->
  </div>
</div>
<!-- End Shopping Cart Modal Window -->
</main>

<%= render 'shared/sidebar' %>

<!-- ========== Page Specific Javascript ========== -->

<%= javascript_include_tag 'vendor/ion-rangeslider/js/ion.rangeSlider.min' %>
<%= javascript_include_tag 'components/hs.range-slider' %>
<%= javascript_include_tag 'vendor/custombox/dist/custombox.min' %>
<%= javascript_include_tag 'vendor/custombox/dist/custombox.legacy.min' %>
<%= javascript_include_tag 'components/hs.modal-window' %>


<%= javascript_pack_tag 'formamount' %>
<%= javascript_pack_tag 'clickmodal' %>
<%= javascript_pack_tag 'confinvestment' %>

<script>
  $(document).on('ready', function () {
    // initialization of forms
    $.HSCore.components.HSRangeSlider.init('.js-range-slider');
  });
  $(window).on('load', function () {
  // initialization of autonomous popups
  $.HSCore.components.HSModalWindow.init('[data-modal-target]', '.js-modal-window', {
    autonomous: true
    });
  });
</script>

<!-- ========== End Page Specific Javascript ====== -->
