<%= render 'shared/topbar' %>
<%= render 'shared/sidebar' %>

<div class="bg-dark">
  <div class="container space-top-1">
    <div class="row">
      <div class="col-lg-5 order-lg-2 text-lg-right mb-4 mb-lg-0">
        <div class="d-flex d-lg-inline-block justify-content-between justify-content-lg-end align-items-center align-items-lg-start">
          <!-- Breadcrumb -->
          <ol class="breadcrumb breadcrumb-white breadcrumb-no-gutter mb-0">
            <li class="breadcrumb-item"><a class="breadcrumb-link" href="<%= root_path %>">Home</a></li>
            <li class="breadcrumb-item"><a class="breadcrumb-link" href="<%= dashboard_path %>">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Certificate</li>
          </ol>
          <!-- End Breadcrumb -->
        </div>
      </div>

      <div class="col-lg-7 order-lg-1">
        <!-- Subnav -->
        <ul class="nav nav-border-white">
          <li class="nav-item">
            <a class="nav-link active" id="overview-tab" href="#{ }#overview">Certificate</a>
          </li>
        </ul>
        <!-- End Subnav -->
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light pt-5">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <%= link_to root_path, class: "navbar-brand" do %>
      <% end %>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      </ul>
      <% if action_name.to_sym == :show %>
        <%= link_to 'Download PDF', certificate_path(::Certificate.find(params[:id]), format: :pdf), class: "btn btn-primary"%>
      <% end %>
    </div>
  </div>
</nav>


