<!-- Sidebar Navigation -->
<aside id="sidebarContent" class="u-sidebar" aria-labelledby="sidebarNavToggler">
  <div class="u-sidebar__scroller">
    <div class="u-sidebar__container">
      <div class="u-sidebar--account__footer-offset">
        <!-- Toggle Button -->
        <div class="d-flex justify-content-between align-items-center pt-4 px-7">
          <h3 class="h6 mb-0">My Account</h3>

          <button type="button" class="close ml-auto"
                  aria-controls="sidebarContent"
                  aria-haspopup="true"
                  aria-expanded="false"
                  data-unfold-event="click"
                  data-unfold-hide-on-scroll="false"
                  data-unfold-target="#sidebarContent"
                  data-unfold-type="css-animation"
                  data-unfold-animation-in="fadeInRight"
                  data-unfold-animation-out="fadeOutRight"
                  data-unfold-duration="500">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- End Toggle Button -->

        <!-- Content -->
        <div class="js-scrollbar u-sidebar__body">
          <!-- Holder Info -->
          <header class="d-flex align-items-center u-sidebar--account__holder mt-3 bg-soft-primary">
            <div class="position-relative">
              <img class="u-sidebar--account__holder-img" src="<%= image_path("jpg/profile/100x100/img3.jpg") %>" alt="Image Description">
            </div>
            <div class="ml-3">
              <span class="font-weight-semi-bold"><%= current_user.first_name %> <%= current_user.last_name %></h1></span>
            </div>
          </header>
          <!-- End Holder Info -->

          <div class="u-sidebar__content--account">
            <!-- List Links -->
            <ul class="list-unstyled u-sidebar--account__list">
              <li class="u-sidebar--account__list-item">
                <%= link_to(dashboard_path, class: "u-sidebar--account__list-link") do %>
                  <span class="fas fa-home u-sidebar--account__list-icon mr-2"></span>
                  Dashboard
                <% end %>
              </li>
              <li class="u-sidebar--account__list-item">
                <%= link_to(campaigns_path, class: "u-sidebar--account__list-link") do %>
                  <span class="fas fa-paint-brush u-sidebar--account__list-icon mr-2"></span>
                  Campaigns
                <% end %>
              </li>
              <li class="u-sidebar--account__list-item">
                <%= link_to(user_profile_path(current_user), class: "u-sidebar--account__list-link") do %>
                  <span class="fas fa-user-circle u-sidebar--account__list-icon mr-2"></span>
                  Profile
                <% end %>
                </a>
              </li>
            </ul>
            <!-- End List Links -->

            <div class="u-sidebar--account__list-divider mt-5"></div>

            <!-- List Links -->
            <ul class="list-unstyled u-sidebar--account__list">
              <li class="u-sidebar--account__list-item">
                <%= link_to(dashboard_path, class: "u-sidebar--account__list-link") do %>
                  <span class="fas fa-question-circle u-sidebar--account__list-icon mr-2"></span>
                  Help
                <% end %>
                </a>
              </li>
              <li class="u-sidebar--account__list-item">
                <%= link_to(dashboard_path, class: "u-sidebar--account__list-link") do %>
                  <span class="fas fa-envelope u-sidebar--account__list-icon mr-2"></span>
                  Contact
                <% end %>
                </a>
              </li>
              <li class="u-sidebar--account__list-item">
                <%= link_to(destroy_user_session_path, :method => :delete,
                class: "u-sidebar--account__list-link") do %>
                  <span class="fas fa-sign-out-alt u-sidebar--account__list-icon mr-2"></span>
                  Sign out
                <% end %>
                </a>
              </li>
            </ul>
            <!-- End List Links -->
          </div>
        </div>
      </div>
    </div>
  </div>
</aside>
<!-- End Sidebar Navigation -->
