<div class="mb-5">
	<div class="card-deck d-block d-lg-flex card-lg-gutters-3">
	  <!-- Card -->
	  <div class="card mb-3 mb-lg-0">
	    <div class="card-body p-4">
	    	<!-- Title -->
	      <div class="d-flex justify-content-between align-items-center">
	        <h4 class="h6 mb-0">Financials</h4>
	      </div>
	      <hr class="mt-3 mb-4">
	      <!-- End Title -->
        <div class="mb-3">
          <div class="text-secondary font-size-1">Value increase p.a. (expected):</div>
          <span class="font-size-3 font-weight-medium text-lh-sm">$<%= number_with_delimiter((@total_value_increase_rate / 100 * @total_amount).round(0), :delimiter => ',') %></span>
          <span class="text-primary font-weight-medium text-lh-sm">
            <span class="fas fa-arrow-up text-success small"></span>
            +<%= @total_value_increase_rate.round(1) %>%
          </span>
        </div>
        <div class="mb-3">
          <div class="text-secondary font-size-1">Payout p.a. (secured 2 years):</div>
          <span class="font-size-3 font-weight-medium text-lh-sm">$<%= number_with_delimiter((@total_payout_rate / 100 * @total_amount).round(0), :delimiter => ',') %></span>
          <span class="text-primary font-weight-medium text-lh-sm">
            <span class="fas fa-arrow-up text-success small"></span>
            +<%= @total_payout_rate.round(1) %>%
          </span>
        </div>
        <hr class="mt-3 mb-4">
        <div>
          <div class="text-secondary font-size-1">Total return p.a.:</div>
          <span class="font-size-3 font-weight-medium text-lh-sm">$<%= number_with_delimiter((@total_value_increase_rate / 100 * @total_amount).round(0) + (@total_payout_rate / 100 * @total_amount).round(0), :delimiter => ',') %></span>
          <span class="text-primary font-weight-medium text-lh-sm">
            <span class="fas fa-arrow-up text-success small"></span>
            +<%= (@total_value_increase_rate + @total_payout_rate).round(1) %>%
          </span>
        </div>
	    </div>
	  </div>
	  <!-- End Card -->

	  <!-- Card -->
	  <div class="card mb-3 mb-lg-0">
	    <div class="card-body p-4">
	    	<!-- Title -->
	      <div class="d-flex justify-content-between align-items-center">
	        <h4 class="h6 mb-0">Diversification</h4>
	      </div>
	      <hr class="mt-3 mb-4">
	      <!-- End Title -->
	    	<div class="text-secondary font-size-1 mb-1">Category:</div>
				<% @data_categories.each do |category| %>
			    <div class="progress mb-1" style="height: 25px;">
					  <div class="progress-bar bg-primary" role="progressbar" style="width: <%= category[1] %>%" aria-valuenow="<%= category[1] %>" aria-valuemin="0" aria-valuemax="100">
					  	<%= category[1] %>%
					  </div>
					  <span class="text-body font-size-1 ml-2 align-self-center">
					  	<%= category[0] %>
					  </span>
					</div>
				<% end %>
				<div class="text-secondary font-size-1 mb-1 mt-3">Movement:</div>
				<% @data_movements.each do |movement| %>
			    <div class="progress mb-1" style="height: 25px;">
					  <div class="progress-bar bg-success" role="progressbar" style="width: <%= movement[1] %>%" aria-valuenow="<%= movement[1] %>" aria-valuemin="0" aria-valuemax="100">
					  	<%= movement[1] %>%
					  </div>
					  <span class="text-body font-size-1 ml-2 align-self-center">
					  	<%= movement[0] %>
					  </span>
					</div>
				<% end %>
	    </div>
	  </div>
	  <!-- End Card -->

	  <!-- Card -->
	  <div class="card">
      <div class="card-body pt-4 pb-5 px-5 mb-3 mb-md-0">
	      <!-- Title -->
	      <div class="d-flex justify-content-between align-items-center">
	        <h4 class="h6 mb-0">Activity</h4>
	      </div>
	      <hr class="mt-3 mb-4">
	      <!-- End Title -->

	      <div class="overflow-hidden">
	        <div class="js-scrollbar pr-3 mCustomScrollbar _mCS_1 mCS-autoHide" style="max-height: 240px; position: relative; overflow: visible;">
	          <!-- Activity Feed -->
	          <ul class="list-unstyled u-indicator-vertical-dashed">
				<% investments.each do |investment| %>
                  <%= render 'pages/components/dashboard_activity', investment: investment %>
				<% end %>
	          </ul>
	          <!-- End Activity Feed -->
	        </div>
	      </div>
	    </div>
	  </div>
	  <!-- End Card -->
	</div>
</div>

<!-- ========== Page Specific Javascript ========== -->

<%= javascript_include_tag 'vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min' %>
<%= javascript_include_tag 'components/hs.malihu-scrollbar' %>

<script>
  $(document).on('ready', function () {
    // initialization of malihu scrollbar
    $.HSCore.components.HSMalihuScrollBar.init($('.js-scrollbar'));
  });
</script>

<!-- ========== End Page Specific Javascript ====== -->

