<%= render 'shared/topbar' %>

<!-- ========== Sub Navigation ====== -->
<!-- Breadcrumb Section -->
<div class="bg-primary">

  <div class="container space-top-1">
    <div class="row">
      <div class="col-lg-5 order-lg-2 text-lg-right mb-4 mb-lg-0">
        <div class="d-flex d-lg-inline-block justify-content-between justify-content-lg-end align-items-center align-items-lg-start">
          <!-- Breadcrumb -->
          <ol class="breadcrumb breadcrumb-white breadcrumb-no-gutter mb-0">
            <li class="breadcrumb-item"><a class="breadcrumb-link" href="<%= root_path %>">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Profile</li>
          </ol>
          <!-- End Breadcrumb -->
        </div>
      </div>

      <div class="col-lg-7 order-lg-1">
      	<!-- Subnav -->
      	<ul class="nav nav-border-white">
			    <li class="nav-item">
			      <a class="nav-link active" id="profile-tab" href="#profile"><%= current_user.first_name %> <%= current_user.last_name %></a>
			    </li>
			  </ul>
			  <!-- End Subnav -->
      </div>
    </div>
  </div>
</div>
<!-- End Breadcrumb Section -->
<!-- ====== End Sub Navigation ====== -->

<div class="bg-light pt-5 pb-5">
  <div class="container space-1" style="min-height: 70vH;">
  	<!-- Tab Content -->
    <div class="tab-content">
    	<div class="tab-pane active" id="profile-tab-content">
    		<%= render "shared/user_profile" %>
    	</div>
    </div>
    <!-- End Tab Content -->
  </div>
</div>

<%= render 'shared/sidebar' %>
