<!-- Start of the PDF layout -->
<div class="bg-light pb-5">
<div class= "container">
<div class="invoice-box bg-white">
  <table cellpadding="0" cellspacing="0">
    <tr class="top">
      <td colspan="4">
        <table>
          <tr>
            <td class="title" style="width: 600px; padding: 0px;";>
              <%= image_tag wicked_pdf_asset_base64('png/company_logo.png'), width: '35%' %>

            </td>

            <td>
              Certificate #: <b><%= @certificate.id %></b>
               <br>
              Created: <b><%= @certificate.created_at.strftime('%d/%m/%Y') %></b>
                <br>
                Status: <% if @certificate.investment.campaign.funded == false %>
                  <span class="badge badge-success">Open</span>
                <% else %>
                  <span class="badge badge-secondary">Closed</span>
                <% end %>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>

    <h1 class = "align-text-center" style=" display: flex; justify-content: center; padding-bottom: 20px;"> Certificate of Investment </h1>

      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <%= cl_image_tag wicked_pdf_asset_base64(@certificate.campaign_image), class:'img-invoice' , width: '100%'%>
          </div>

          <div class="col-md-6 col-lg-8" style="padding-top: 30px;">
            <ul style="list-style-type: none;">
              <li style="display: flex; justify-content: center; margin: 10px; "> Congratulation! </li>
              <li style = "font-size: 2rem; display: flex; justify-content: center; margin: 10px; "><%= @certificate.full_name %> </li>
              <li style="display: flex; justify-content: center; margin: 10px; "> You have succesfully invested in </li>
              <li style = "font-size: 2rem; display: flex; justify-content: center;margin: 10px; "> <%= @certificate.campaign_name %> - <i> <%= @certificate.campaign_title %> </i> </li>
            </ul>
          <div class="" style="padding-top: 30px; text-align: right">
            <%= image_tag wicked_pdf_asset_base64('png/certificate.png'), width: '50%'%>
          </div>

          </div>
        </div>
      </div>
    </div>
</div>
</div>


