<!-- Start of the PDF layout -->
<div class="invoice-box">
  <table cellpadding="0" cellspacing="0">
    <tbody>

    <tr class="top">
      <td colspan="4">
        <table>
          <tr>
            <td class="title" style="width: 650px";>
              <%= image_tag wicked_pdf_asset_base64('company_logo.png'), width: '50%' %>
            </td>

            <td>
              Certificate #: <b><%= @certificate.id %></b>
               <br>
              Created: <b><%= @certificate.created_at.strftime('%d/%m/%Y') %></b>
                <br>
                Status: <% if @certificate.investment.campaign.funded == false %>
                  <span class="badge badge-success">Open</span>
                <% else %>
                  <span class="badge badge-secondary">Closed</span>
                <% end %>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>


    <table>
      <td class = "rtl"> CERTIFICATE OF INVESTMENT </td>
    </table>


      <table cellpadding="0" cellspacing="0">
        <tr class="information">
          <td colspan="4">
            <table>
              <tr>
                <td class="title" style="width: 680px";>
                  <%= cl_image_tag @certificate.campaign_image, class:'img-invoice' %>
                </td>

                  <td class="right d-flex align-items-center justify-content-between" style= "background: #eee; font-weight: bold; padding-left: 10px;padding-right: 10px;">
                    <tr>Investment Certificate</tr>
                    <tr class="right">Amount</tr>
                  </td>

                  <td class="details d-flex align-items-center justify-content-between"style= "padding-left: 10px;padding-right: 10px; padding-top: 10px;">
                    <tr> <b> <%= @certificate.campaign_name %> </b> - <i> <%= @certificate.campaign_title %> </i> </tr>
                    <tr class="right"> $ <%= @certificate.investment_amount %></tr>
                  </td>

              </tr>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
