<div class="invoice-box bg-white">
  <table cellpadding="0" cellspacing="0">
    <tr class="top">
      <td colspan="4">
        <table>
          <tr>
            <td class="title" style="width: 680px";>
              <%= image_tag wicked_pdf_asset_base64('png/company_logo.png'), width: '35%' %>

            </td>

            <td>
              Certificate #: <b><%= @certificate.id %></b>
               <br>
              Created: <b><%= @certificate.created_at.strftime('%d/%m/%Y') %></b>
                <br>
                Status: <% if @certificate.investment.campaign.funded == false %>
                  <span class="badge badge-success">Open</span>
                <% else %>
                  <span class="badge badge-secondary">Closed</span>
                <% end %>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>

    <table>
      <td style="text-align: center; padding-left: 80px; padding-bottom: 50px;"> <b> CERTIFICATE OF INVESTMENT </b> </td>
    </table>

      <table>
        <tr>
          <tr style="width: 100vw">
            <td><%= cl_image_tag @certificate.campaign_image, class:'img-invoice'%></td>
            <td valign="top", style="text-align: left;">
              <ul style="list-style: none; margin-top: -200px;">
                <li style="display: flex; justify-content: center; margin: 10px;">Congratulation!</li>
                <li style = "font-size: 2rem; display: flex; justify-content: center; margin: 10px;"><%= @certificate.full_name %></li>
                <li style="display: flex; justify-content: center; margin: 10px; "> You have succesfully invested in </li>
                <li style = "font-size: 2rem; display: flex; justify-content: center;margin: 10px; "> <%= @certificate.campaign_name %> - <i> <%= @certificate.campaign_title %> </i> </li>
              </ul>
            <table class="" style="text-align: right">
              <td style="padding-top: 30px"> <%= image_tag wicked_pdf_asset_base64('png/certificate.png'), width: '50%'%> </td>
            </table>
            </td>
          </tr>
        </tr>
      </table>
</div>

