<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <meta name="robots" content="noindex"> -->

    <title>Avant Garde - Invest in museum-worthy artworks</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= favicon_link_tag 'favicon-all/apple-icon-60x60.png' %>
  </head>
  <body>
    <!-- Please do not move below yield, since view specific JS has to come afterwards -->
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'hs.core' %>

    <%= yield %>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
