<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <%= yield %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'hs.core' %>

    <%= javascript_include_tag 'vendor/svg-injector/dist/svg-injector.min' %>
    <%= javascript_include_tag 'components/hs.svg-injector' %>

    <%= javascript_include_tag 'vendor/fancybox/jquery.fancybox.min' %>
    <%= javascript_include_tag 'components/hs.fancybox' %>

    <%= javascript_include_tag 'components/hs.header' %>
    <%= javascript_include_tag 'components/hs.scroll-nav' %>

    <%= javascript_include_tag 'vendor/slick-carousel/slick/slick' %>
    <%= javascript_include_tag 'components/hs.slick-carousel' %>

    <%= javascript_include_tag 'components/hs.go-to' %>

    <%= javascript_pack_tag 'application' %>

    <!-- JS Plugins Init. -->
    <script>
      $(window).on('load', function () {
        // initialization of svg injector module
        $.HSCore.components.HSSVGIngector.init('.js-svg-injector');
      });

      $(document).on('ready', function () {
        // initialization of popups
        $.HSCore.components.HSFancyBox.init('.js-fancybox');
      });

      $(document).on('ready', function () {
        // initialization of header
        $.HSCore.components.HSHeader.init($('#header'));
      });

      $(window).on('load', function () {
        // initialization of HSScrollNav component
        $.HSCore.components.HSScrollNav.init($('.js-scroll-nav'), {
          duration: 700
        });
      });

      $(document).on('ready', function () {
        // initialization of header
        $.HSCore.components.HSHeader.init($('#header'));
      });

      $(document).on('ready', function () {
        // initialization of slick carousel
        $.HSCore.components.HSSlickCarousel.init('.js-slick-carousel');
      });

      $(document).on('ready', function () {
        // initialization of go to
        $.HSCore.components.HSGoTo.init('.js-go-to');
      });
    </script>
  </body>
</html>
